$brand-navy-base: #354493 !default;
$brand-navy-lighten1: #5C68AB !default;
$brand-navy-lighten2: #979EC6 !default;
$brand-navy-lighten3: #BEC2DA !default;
$brand-navy: $brand-navy-base !default;

$brand-green-base: #21C77C !default;
$brand-green-lighten1: #4CD195 !default;
$brand-green-lighten2: #78DBAE !default;
$brand-green-lighten3: #B8EAD3 !default;
$brand-green: $brand-green-base !default;

$brand-teal-base: #01C1E2 !default;
$brand-teal: $brand-teal-base !default;

$brand-blue-base: #0172CA !default;
$brand-blue: $brand-blue-base !default;

$brand-grey-base: #E2E1DD !default;
$brand-grey: $brand-grey-base !default;

$brand-black-base: #2A2F36 !default;
$brand-black-lighten1: #3E4249 !default;
$brand-black-lighten2: #54585D !default;
$brand-black-lighten3: #676870 !default;
$brand-black-lighten4: #7D8084 !default;
$brand-black-lighten5: #BBBCBE !default;
$brand-black: $brand-black-base !default;

$brand-white-base: #FFFFFF !default;
$brand-white: $brand-white-base !default;